* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
body {
    font-family:"Josefin Sans";
    background-image: url(assets/42lausanne.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 0 10%;
    margin: 0;
    padding: 0;
}
:root {
    --black: #000000;
    --42blue: #01babc;
    --white: #ffffff;
    --degrade-btn: linear-gradient(#01babc, #008285);
}
.backgorund-black {
    background: var(--black);
}
/*classes reutilizáveis*/
.content {
    max-width: 1400px;
    padding: 0 5%;
    margin: 0 auto;
    z-index: 1;
}
.btn-gradient {
    padding: 10px 25px;
    color: var(--white);
    border: none;
    cursor: pointer;
    background-image: var(--degrade-btn);
    font-size: 15px;
}
/*classes do site*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
.logo a {
    font-size: 55px;
    font-weight: 600;
    color: var(--white);
    padding: 0 60px;
}
.ul {
    display: flex;
    align-items: center;
}
.ul li {
    margin: 0 35px;
    font-size: 18px;
}
.ul li a {
    color: var(--white);
}
/*main*/
main .content {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 17% 10%;
    margin: 0 auto;
}
.main-txt {
    color: #ffffff;
}
.main-txt h1 {
    font-size: 60px;
    font-style: italic;
}
.main-txt h2 {
    font-size: 30px;
    font-weight: 400;
}